body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

.btn-merge {
   background-color: #AFCC50;
   border-color: #AFbb50;
   color:white
}

.btn-close {
   background-color: #c9308e;
   border-color: #c8206a;
   color:white
}

.flexcontainer .btn-merge:hover {
   background-color: #AFbb50;
   border-color: #AFbb50;
   color:white
}

.flexcontainer .btn-close:hover {
   background-color: #c8206a;
   border-color: #c8206a;
   color:white
}

.btn-merge,
.btn-merge:hover,
.btn-merge:active,
.btn-merge:visited,
.btn-merge:focus {
    color:white
}

.btn-close,
.btn-close:hover,
.btn-close:active,
.btn-close:visited,
.btn-close:focus {
    color:white
}

ol.nya-bs-select .btn {
   padding: 1px 5px 1px 5px;
}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   height:100%;
   width:100%;
   -webkit-justify-content: flex-item;
   justify-content: flex-start;
   position:absolute;
   flex-direction: column;
}

.flex-item {
   width:50%;
   max-width:600px;
   min-width:600px;
}

.flex-item:first-child{
   margin-top:50px;
}

.alert.infotext {
   margin-top: 10px;
   border:1px solid #c0c0c0;
   background-color: #f1f1f1;
   color: #333
}
