body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   height:100%;
   width:100%;
   -webkit-justify-content: center;
   justify-content: center;
   position:absolute;
   flex-direction: column;
}

.flex-item {
   width:50%;
}

.infotext {
   padding:8px;
   margin-top: 10px;
   border:1px solid #666;
   border-radius: 4px;
}
