<div class="text-center">
     <p><i class="fa fa-share-square-o fa-4x" aria-hidden="true"></i></p>
     <button class="btn btn-merge" ng-disabled="!registrations.length > 0 && results.data.length > 0" ng-click="export()">
           Dateien Exportieren
     </button>
</div>
<div class="alert alert-info infotext">
      Es
      <span ng-if="registrations.length === 1">kann eine</span>
      <span ng-if="registrations.length > 1">können {{registrations.length}}</span>

      Liste<span ng-if="registrations.length > 1">n</span>
      exportiert werden. Diese <span ng-if="registrations.length === 1">kann</span>
      <span ng-if="registrations.length > 1">können</span>
      direkt in TUCaN importiert werden.
</div>
<div class="alert alert-info infotext" style="margin-top:20px" ng-show="warnings.length > 0">
     <p>
           <i class="fa fa-exclamation-circle" style="color:#c9308e" aria-hidden="true"></i>
           <strong>Für folgende Studierende aus der Prüfungsergebnisliste existieren keine Anmeldungen in TUCaN.</strong><br>
           <p>Entweder haben die Studierenden die Prüfung ohne Anmeldung abgelegt oder es hat sich ein Fehler in der Prüfungsergebnisliste eingeschlichen.</p>
           <p>Falls Anmeldungen mit einer sehr ähnlichen Matrikelnummer in der TUCaN-Anmeldeliste existieren und
           für diese kein Prüfungsergebnis vorliegt, werden sie als Alternativen angezeigt.
           Sie können dann entscheiden, ob es sich bei dem/der Studierenden aus der Prüfungsergebnisliste
           um die entsprechende Person aus der TUCaN-Anmeldeliste handelt oder nicht. </p>
           <p>
           Es werden nur Prüfungsergebnisse von angemeldeten Studierenden beim Export berücksichtigt.
           </p>
     </p>
     <div style="width:100%;overflow:auto;max-height:500px;margin-top:20px;background-color:#f1f1f1">
           <table class="table table-condensed" style="padding-bottom:20px;margin-bottom:45px">
                <thead>
                      <tr>
                            <th class="text-center">Prüfungsergebnis</th>
                            <th class="text-center">Matrikelnummer</th>
                            <th>Alternativen</th>
                      </tr>
                </thead>
                <tbody>
                <tr ng-repeat="w in warnings | orderBy:'-similar.length'">
                      <td class="text-center">{{w.data[columns.col2]}}</td>
                      <td class="text-center">{{w.data[columns.col1]}}</td>
                      <td ng-show="w.similar.length > 0">
                            <ol class="nya-bs-select" ng-model="w.selected" ng-show="w.similar.length > 1" style="width:150px">
                                  <li nya-bs-option="matrnr in w.similar" data-value="matrnr">
                                       <a>{{matrnr}}</a>
                                  </li>
                            </ol>
                            <span ng-show="w.similar.length === 1" ng-model="w.selected">{{w.similar[0]}}</span>
                            <button class="btn btn-default" ng-click="changeMatrnr(w.data[columns.col1], w.selected)" style="float:right;margin-left:10px;padding: 1px 5px 1px 5px;width:120px;">Übernehmen</button>
                      </td>
                </tr>
                </tbody>
           </table>
    </div>
</div>
<script type="text/ng-template" id="modal.html">
      <div class="modal-header">
                  <h3 class="modal-title">Export</h3>
      </div>
      <div class="modal-body">
                  <div ng-show="success">
                        Es <span ng-show="data.numberOfFiles === 1">wurde eine Datei</span>
                        <span>wurden {{data.numberOfFiles}} Dateien</span>
                        erfolgreich exportiert.<br>
                        Die exportierten Ergebnisse sind in folgendem Pfad zu finden: {{data.dir}}
                  </div>
      </div>
      <div class="modal-footer">
                  <button class="btn btn-merge" type="button" ng-click="ok()">Neue Prüfungsergebnisliste importieren</button>
                  <button class="btn btn-close" type="button" ng-click="cancel()">Programm verlassen</button>
      </div>
</script>
